p,
.title {
  font-family: "Raleway";
}

.title {
  margin-bottom: 0;
  font-size: 2em;
}

.filter-heading {
  font-family: "Raleway";
  margin-bottom: 0.5rem;
  margin-top: 0.75rem;
  margin-left: 1rem;
  font-weight: bold;
}
