.site-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  padding: 1em;
  font-family: "Raleway";
  flex: 1 1 0%;
}

.about-mobile-links {
  display: none;
}

@media only screen and (max-width: 850px) {
  .main {
    padding: 0;
  }
  .about-mobile-links {
    display: inline-block;
  }
}

.post-main {
  width: 100%;
}

/* CSS clean-up */
footer {
  text-align: center;
  padding: 0.5rem;
  margin-top: 0.75rem;
  font-weight: 500;
  background-color: whitesmoke;
  position: relative;
  width: 100%;
  bottom: 0;
}

footer a:hover {
  color: #3f83f8;
  text-decoration: underline;
}

.post-excerpt {
  margin: 0.75rem 0 1rem 0;
  display: block;
  font-size: 1.125rem;
}

.read-more-link a {
  letter-spacing: 0.025rem;
  font-weight: 600;
  color: #3f83f8;
}

.read-more-link a:hover {
  text-decoration: underline;
}

.filter-heading {
  margin-bottom: 0.75rem;
  margin-top: 0.75rem;
  font-weight: bold;
  font-size: 2.5rem;
}

.sidebar {
  width: 90%;
  padding-left: 1.5rem;
  padding-top: 0.5rem;
}

.post-page-main,
.index-main {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
}

/* Blog post */
.published-date {
  margin-bottom: 1.5rem;
  font-style: italic;
}

.heading {
  font-weight: 600;
  margin-bottom: 0.5rem;
  margin-top: 0.75rem;
  color: rgb(52, 58, 64);
  font-size: 3rem;
}

.page-navigation {
  text-align: center;
  margin-top: 1.5rem;
}

.page-navigation > a:hover {
  text-decoration: none;
}

/* End blog post */

.tag-button {
  background: rgb(72, 72, 72);
  border-color: rgb(72, 72, 72);
  border-radius: 0.5rem;
  font-size: 0.8rem;
  color: white;
  padding: 0.0625rem 0.5rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.tag-button:hover {
  background-color: whitesmoke;
  color: rgb(72, 72, 72);
}

.tag-button:hover svg {
  color: rgb(72, 72, 72);
}

.tag-container {
  padding: 0.25rem;
  display: inline-block;
}

.tag-button svg {
  display: inline;
}

.post-container {
  margin-bottom: 2rem;
}

@media only screen and (max-width: 850px) {
  .sidebar {
    display: none;
  }
  .post-page-main,
  .index-main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
