/* sidebar */
.page-links-container {
  padding-top: 1rem;
}

.page-links {
  font-size: 1.25rem;
  display: block;
  padding: 0.25rem 0 0.25rem 0;
}

.page-links:hover {
  color: #3f83f8;
}

.nav-link-active {
  font-weight: bold;
  font-style: italic;
}
/* end sidebar */

/* bio */
.profile-img {
  border-radius: 50%;
  box-shadow: 1px 1px 3px;
  max-width: 100px;
  margin: 0 0 0.5rem 0;
}

.author-bio {
  font-size: 2vw;
  margin: 0.25rem 0 0.25rem 0;
}

.tagline {
  color: rgb(162, 160, 160);
  font-style: italic;
  font-size: 0.9rem;
}
/* end bio */

/* social links */
.social-links-container {
  display: flex;
  justify-content: space-between;
  max-width: 7rem;
  margin-bottom: 0.5rem;
}

.social-link:hover {
  color: #3f83f8;
}
/* end social links */
