.sidebar-main {
  width: 100%;
}

.side-social-links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  float: left;
}

.page-links {
  margin-top: 3rem;
  padding-top: 2rem;
  font-family: "Raleway";
}

.sidebar-links {
  display: block;
  padding: 0.25rem 0 0.25rem 0;
}

.profile-img {
  border-radius: 50%;
  box-shadow: 1px 1px 3px;
  max-width: 100px;
}

.author-bio {
  font-size: 2vw;
  margin-top: 0.25rem;
}

.tagline {
  color: rgb(162, 160, 160);
}

.social-links {
  padding: 0.5rem;
}
